<div class="content">
  <!-- Header is included in the partial directory. It include the main menu -->
  {% include directory ~ "/partials/header.html.twig" %}
  <!-- Header -->
  <!-- Banner -->
  <div role="banner" class="banner">
    <div class="container">
      {{ page.banner }}
    </div>
  </div>
  <!-- Banner -->
  <!-- Content -->
  <main role="main" class="container">
  {{ page.content }}
  </main>
  <!-- Content -->
  <!-- Footer -->
  {% include directory ~ "/partials/footer.html.twig" %}
  <!-- Footer -->
</div>
